p {
  font-family: Lato;
}

h1{color:pink;
font-family: 'Rock Salt', cursive;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    
}

a{
  color:grey;
 font-family: 'Karla', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.navbarfooter{background-color: #5F6368;
 text-align: center}

.navbar-text{color: pink;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center
    
}